body {
  // font-family: Titillium Web, sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  background: #ffffff;
}
.page-panel {
  background-color: #e6eef6;
}
.app {
  display: block;
}
.app-container {
  height: 100%;
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.help-links,
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-nav {
  margin-bottom: 25px;
  border-bottom: 1px solid #cbdbe9;
}
.app-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.box-heading,
.box-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ol,
ul {
  list-style: none;
}

.box-heading:last-of-type {
  border-right: none;
}
.box-heading {
  padding: 10px 15px;
  background-color: #f4f7fa;
  color: #175d9d;
  border-bottom: 1px solid #d7e3ee;
  border-right: 1px solid #d7e3ee;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.box-heading,
.box-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.help-links,
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.help-links {
  margin: 0 0 0 auto;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.help-links a {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}
.help-links svg {
  height: 23px;
  width: 23px;
}
