.return-toggle {
  position: relative;
  top: 8px;
  right: 3px;
  color: white;
}
.accept-toggle {
  position: relative;
  top: 8px;
  left: 5px;
  color: white;
}
.simulate-link {
  color: #0073a8;
  text-decoration: underline;
  cursor: pointer;
}
.text-strong {
  font-weight: bold;
}
.margin-5 {
  margin-top: 5px;
}
