.box-icon,
.list-news a,
.list-news a:before,
.log-in-input,
.log-in-label,
.log-in-submit,
.log-in-tab,
.navbar-action,
.navbar-search-input,
.navbar-search-submit,
.panel-edit-icon,
.panel-edit-list,
.tile-title {
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-property: all;
  transition-property: all;
}
.app,
.badge,
.box-filter-arrow,
.compare-more-info,
.input-datepicker td a,
.list-favorites a,
.list-favorites a:before,
.panel-edit-item,
.sidebar,
.sidebar-item,
.sidebar-item-icon,
.sidebar-logo,
.sidebar-logo--small,
.sidebar-title,
.sidebar-toggler svg,
.take-action a:before,
.tile-icon,
.tile-icon-inner,
.time-off-type,
.toggler-bar .box-filter-arrow {
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  transition-property: all;
}
.tiles-container {
  height: 100%;
  margin-top: 10px;
  padding: 0 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.tile {
  margin: 15px 35px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
}
.tile-icon,
.tile-icon-inner {
  margin: 0 auto;
  background-repeat: no-repeat;
}
.tile-icon {
  width: 110px;
  height: 110px;
  border-radius: 25%;
  -webkit-box-shadow: 0 0 40px rgba(23, 93, 157, 0.5);
  box-shadow: 0 0 40px rgba(23, 93, 157, 0.5);
  background-color: #f4f7fa;
  background-size: 70%;
  background-position: 50%;
  overflow: hidden;
  position: relative;
}
.tile-icon-my-team .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-my-team.svg);
}
.tile-icon-personal-information .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-personal-information.svg);
}
.tile-icon-job-info .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-job-info.svg);
}
.tile-icon-compensation .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-compensation.svg);
}
.tile-icon-benefits .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-benefits.svg);
}
.tile-icon-time-off .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-time-off.svg);
}
.tile-icon-org-charts .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-org-charts.svg);
}
.tile-icon-workers-comparison .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-workers-comparison.svg);
}
.tile-icon-development .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-development.svg);
}
.tile-icon-expenses .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-expenses.svg);
}
.tile-icon-documentation .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-documentation.svg);
}
.tile-icon-audit .tile-icon-inner {
  background-image: url(/assets/images/icons-tiles/t-audit.svg);
}
.tile-icon-inner {
  background-position: 50%;
}
.tile-icon-inner {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  bottom: 0;
  left: 0;
  right: 0;
}
.tile-icon,
.tile-icon-inner {
  margin: 0 auto;
  background-repeat: no-repeat;
}
.tile-title {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  max-width: 100px;
  color: #175d9d;
}
.tile-icon:before {
  width: 60px;
  left: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}
.tile-icon:after,
.tile-icon:before {
  content: '';
  display: block;
  position: absolute;
  background: hsla(0, 0%, 100%, 0.8);
  height: 100%;
  top: 0;
  -webkit-transform: translateX(-100px) skewX(-15deg);
  transform: translateX(-100px) skewX(-15deg);
}
.tile-icon:after {
  width: 30px;
  left: 30px;
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.tile-icon:hover:before {
  opacity: 0.6;
}
.tile-icon:hover:after,
.tile-icon:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
  transform: translateX(300px) skewX(-15deg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.tile-icon:hover:after {
  opacity: 1;
}
.tile:hover .tile-icon {
  -webkit-box-shadow: 0 0 80px rgba(23, 93, 157, 0.4);
  box-shadow: 0 0 80px rgba(23, 93, 157, 0.4);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.tile:hover .tile-icon-inner {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform: perspective(165px) scale(0.95) rotateY(-44deg)
    rotate3d(1, 0.88, 0.4, 36deg) translateY(-8px) translateX(-8px);
  transform: perspective(165px) scale(0.95) rotateY(-44deg)
    rotate3d(1, 0.88, 0.4, 36deg) translateY(-8px) translateX(-8px);
}
.tile:hover .tile-title {
  -webkit-transform: scale(1.2) translateY(5px);
  transform: scale(1.2) translateY(5px);
}
.panel-edit-icon:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.landing-tab-column {
  padding: 20px;
}
.landing-tab-column .box {
  margin-bottom: 30px;
}
.badge {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  text-align: center;
  background-color: #e74a23;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
}
.badge--nav {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.list-favorites a,
.list-news a {
  display: block;
  padding: 13px 15px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #175d9d;
  position: relative;
  cursor: pointer;
}
.list-favorites li:nth-child(2n),
.list-news li:nth-child(2n) {
  background-color: #e6eef6;
}
.list-favorites a:hover {
  padding-left: 25px;
}
.list-favorites a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  position: relative;
  bottom: 1px;
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-right: 7px;
  background-image: url(/assets/images/icons/icon-fav.svg);
}
.list-favorites a:hover:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.list-news a:before {
  content: '›';
  position: absolute;
  width: 10px;
  height: 10px;
  right: 40px;
  bottom: 22px;
  border-radius: 50%;
  color: #175d9d;
  font-size: 22px;
  font-weight: 400;
  opacity: 0;
}
.list-news a:hover:before {
  opacity: 1;
  right: 20px;
}
.list-news a:hover {
  padding-left: 25px;
}
.sidebar-item--active,
.sidebar-item:hover {
  opacity: 1;
}
.sidebar-item--active {
  border-left-color: #175d9d;
}
.sidebar-item:hover .sidebar-item-icon {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}
