.HeaderBar {
  background-color: #fff;
  min-height: 55px;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  min-height: 40px;
  padding-left: 0;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}
